:root {
	--shadow-color: 0deg 0% 3%;
	--shadow: 0.2px 0.1px 0.3px hsl(var(--shadow-color) / 0.19),
	1.1px 0.7px 1.6px -0.3px hsl(var(--shadow-color) / 0.21),
	1.9px 1.2px 2.7px -0.6px hsl(var(--shadow-color) / 0.22),
	3px 1.9px 4.3px -0.9px hsl(var(--shadow-color) / 0.23),
	4.6px 3px 6.6px -1.1px hsl(var(--shadow-color) / 0.24),
	6.9px 4.5px 9.9px -1.4px hsl(var(--shadow-color) / 0.25),
	10.2px 6.7px 14.6px -1.7px hsl(var(--shadow-color) / 0.27),
	14.9px 9.7px 21.3px -2px hsl(var(--shadow-color) / 0.28);
}

html {
	height: 100%;
}

body {
	background-color: #181818;
	color: #B9B9B9;
	cursor: default;
	margin: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none; /* These must be overriden for things that need pointer / select */
	user-select: none; /* These must be overriden for things that need pointer / select */
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #333333;
	border-radius: 4px;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-template-areas:
		"a b"
		"f f"
		"g g";
	gap: 1.5rem;
	padding: 0.5rem 1.5rem 1.5rem 0.5rem;
}

#rightgridder {
	grid-area: b;
	display: grid;
	margin: 1rem 0 0 0;
	height: 0; /* js needs to keep this equal to the boardsize */
	grid-template-columns: none;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"c"
		"d"
		"e";
	gap: 1rem;
}

#boardsquares {
	grid-area: a;
	margin: 1rem 0 0 1rem;
	background-size: cover;
	border-collapse: collapse;
	table-layout: fixed;
	z-index: 1;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#canvas {
	grid-area: a;
	margin: 1rem 0 0 1rem;
	display: block;
	z-index: 2;
	outline-offset: 8px;
}

#boardfriends {
	grid-area: a;
	margin: 1rem 0 0 1rem;
	border-collapse: collapse;
	pointer-events: auto;
	table-layout: fixed;
	z-index: 3;
}

.grabbable {
	cursor: grab;
}

.grabbable:active {
	cursor: grabbing;
}

#statusbox {
	grid-area: c;
	margin: 0 0 0 1rem;
	padding: 1rem;
	border: none;
	display: block;
	color: #B9B9B9;
	font-family: 'Nimbus Mono PS', 'Courier New', monospace;
	pointer-events: auto;
	overflow: hidden;
	white-space: pre;
	background-color: #272727;
	border-radius: 8px;
}

#infobox {
	grid-area: d;
	margin: 1rem 0 1rem 1rem;
	padding: 1rem;
	display: block;
	color: #B9B9B9; /* only used for Lc0 stderr output at startup */
	font-family: 'Nimbus Mono PS', 'Courier New', monospace;
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: auto;
	white-space: pre-wrap;
	background-color: #272727;
	border-radius: 8px;
}

#graph {
	grid-area: e;
	align-self: end;
	display: block;
	margin: 0 0 0 1rem;
	pointer-events: auto;
	background-color: #272727;
	border-radius: 8px;
	padding-left: 1rem;
	padding-right: 1rem;
}


#fenbox {
	grid-area: f;
	margin: 0.5rem 0 0.5rem 1rem;
	padding: 0.75rem 1rem;
	background-color: #272727;
	border: none;
	outline: 2px solid transparent;
	outline-offset: -2px;
	border-radius: 8px;
	caret-color: #F7F7F7;
	color: #41A3EC;
	display: block;
	font-family: 'Nimbus Mono PS', 'Courier New', monospace;
	font-size: 100%;
	pointer-events: auto;
	user-select: auto;
	transition: outline-color 0.2s;
}

#fenbox:focus {
	outline: 2px solid #41A3EC;
	outline-offset: -2px;
}

#movelist {
	grid-area: g;
	margin: 0 0 0 1rem;
	padding: 1rem 1rem 1rem 1rem;
	display: block;
	color: #B9B9B9;
	font-family: 'Nimbus Mono PS', 'Courier New', monospace;
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: auto;
	white-space: pre-wrap;
	background-color: #272727;
	border-radius: 8px;
	height: 23vh;
}

#promotiontable {
	border-collapse: collapse;
	display: none;
	pointer-events: auto;
	position: fixed;
	table-layout: fixed;
	z-index: 4;
	border-radius: 8px;
	padding: 0.2rem;
}

#fullbox {
	background-color: #181818;
	display: none; /* better than visibility: hidden - never intercepts inputs */
	font-family: 'Nimbus Mono PS', 'Courier New', ui-monospace, monospace;
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
}

#fullbox_content {
	overflow: hidden;
	padding: 1rem;
	white-space: pre;
	background-color: #272727;
	border-radius: 8px;
	margin: 1rem;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited { /* I think this is now only used for the "Nibbler in normal browser" message. */
	color: #259D94;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover, a:active {
	color: #69D5CB;
}

ul {
	list-style: none;
}

.pink {
	color: #d97578;
}

.white {
	color: #F7F7F7;
}

.gray {
	color: #B9B9B9;
}

.darkgray {
	color: #272727;
}

.red {
	color: #FF4F5B;
}

.yellow {
	color: #EFC45E;
}

.green {
	color: #A7BD43;
}

.blue {
	color: #41A3EC;
}

.infoline {
	margin-bottom: 1em;
}

.enginechooser {
	margin-bottom: 1em;
}

.enginechooser:hover {
	color: #41A3EC;
}

.pgnchooser:hover {
	background-color: #252525;
}

.ocm_highlight {
	border: 1px solid #F23749;
	border-radius: 4px;
}

.hover_highlight {
	background-color: rgba(2, 124, 194, 0.3);
	border-radius: 4px;
}

span.movelist_highlight_blue {
	background-color: rgba(2, 124, 194, 0.3);
	color: #41A3EC;
	border-radius: 4px;
}

span.movelist_highlight_yellow {
	background-color: rgba(173, 132, 3, 0.3);
	color: #EFC45E;
	border-radius: 4px;
}

span.nobr {
	white-space: nowrap; /* Used for O-O and O-O-O moves */
}

* {
	transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s;
}
